<div class="panel panel-default">
    <div class="panel-heading col-md-12">
        <div class="btn-group pull-right">
            <span class="btn btn-default" href="#collapse1" data-toggle="collapse" aria-expanded="false"  aria-controls="collapse1" role="button"><strong>Filter By</strong></span>
            <span class="btn btn-default" href="#collapse2" data-toggle="collapse" aria-expanded="false"
            aria-controls="collapse2" role="button"><strong>Query Status</strong></span>
        </div>
    </div>
    <div class="panel-collapse collapse" id="collapse1">
        <div class="panel-body col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label>By Company</label>
                    <input ng-model="question.qCompany" ng-model-options="{debounce: 500}" class="form-control">
                </div>
                <div class="form-group">
                    <label>By Question</label>
                    <input ng-model="question.qQuestion" ng-model-options="{debounce: 500}" class="form-control">
                </div>
            </form>
        </div>
    </div>
    <div class="panel-collapse collapse" id="collapse2">
        <div class="panel-body col-md-12">
            <span>Filter By</span>
            <pre>{{question.getParams() | json}}</pre>
            <span>Filter Result</span>
            <pre>{{"query count: " + question.qCount}}</pre>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="active">
                <th class="col-md-3">
                    <button class="btn btn-default" ng-click="question.sortBy('interview.Client')"><strong>Client </strong><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
                </th>
                <th class="col-md-8">
                    <button class="btn btn-default" ng-click="question.sortBy('question')"><strong>Question </strong><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
                </th>
                <th class="col-md-1">
                    <button class="btn btn-default" ng-click="question.sortBy('interview.Date')"><strong>Date </strong><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="q in question.qs" ng-click="question.showInterview(q)">
                <td class="col-md-3">{{q.interview.Client}}</td>
                <td class="col-md-8">{{q.question}}</td>
                <td class="col-md-1">{{q.interview.Date | date:'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer text-center">
        <uib-pagination max-size=10 total-items="question.qCount" items-per-page="question.qSize" ng-model="question.qPage" ng-change="question.loadQuestions()" boundary-links="true"></uib-pagination>
    </div>
</div>
