<script type="text/ng-template" id="questionPopover.html">
    <div>
        <p>Create by {{q.interview.Candidate}}</p>
        <p>Click for more information</p>
    </div>
</script>

<script type="text/ng-template" id="searchPopover.html">
    
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>Advanced Search</label>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>By Company</label>
                        <input class="form-control" ng-model="searchCompany" placeholder="By Company">
                    </div>
                    <div class="form-group">
                        <label>By Question</label>
                        <input class="form-control" ng-model="searchQuestion" placeholder="By Question">
                    </div>
                    <div class="form-group">
                        <label>before</label>
                        <input type="date" class="form-control" ng-model="befored" placeholder="before a specific date">
                    </div>
                    <div class="form-group">
                        <label>after</label>
                        <input type="date" class="form-control" ng-model="afterd" placeholder="after a specific date">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="question.advancedSearch(searchCompany, searchQuestion, befored, afterd)">Search</button>
                </form>
            </div>
        </div>
    
</script>

<div class="panel panel-default">
    <div class="panel-heading container-fluid inline">
        <div class="pull-left">
            <h5><strong>Total Questions: </strong><span class="label label-default">{{question.qCount}}</span></h5>
        </div>
        <div class="pull-right">
            <span class="btn btn-default glyphicon glyphicon-search" role="button" uib-popover-template="searchPopover.templateUrl" popover-trigger="click" popover-placement="bottom" ></span>
        </div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr class="active">
                <th class="col-md-2 head" ng-click="question.sortBy('interview.Client')">
                    <strong>Company</strong>
                </th>
                <th class="col-md-8 head" ng-click="question.sortBy('question')">
                    <strong>Question</strong>
                </th>
                <th class="col-md-2 head" ng-click="question.sortBy('interview.Date')">
                    <strong>Date</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="q in question.qs">
                <td class="col-md-2">
                    <div>
                        <a class="question-client" ng-click="question.setCompany(q.interview.Client)">{{q.interview.Client}}</a>
                    </div>
                </td>
                <td class="col-md-9">
                    <div>
                        <span uib-popover-template="questionInfoPopover.templateUrl" popover-trigger="mouseenter" popover-placement="bottom">
                            <a class="question-description" ng-click="question.showInterview(q)">{{q.question | cutQuestion}}</a>
                        </span>
                        <span class="tag-wrapper" ng-repeat="tag in (q.tags | cutTags)">
                            <a class="tag-value">{{tag}}</a>
                        </span>
                    </div>
                </td>
                <!-- <td class="col-md-1"><span class="question-date">{{q.interview.Date | date:'MM/dd/yyyy'}}</span></td> -->
                <td class="col-md-1"><a ng-click="question.setDate(q.interview.Date)" class="question-date">{{q.interview.Date | date:'MM/dd/yyyy'}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer text-center">
        <uib-pagination max-size=10 total-items="question.qCount" items-per-page="question.qSize" ng-model="question.qPage" ng-change="question.loadQuestions()" boundary-links="true"></uib-pagination>
    </div>
</div>

