<div class="panel panel-default">
    <div class="panel-heading col-md-12">
        <div class="btn-group pull-right">
            <span class="btn btn-default" role="button" ng-click="interview.filter.form.open = !interview.filter.form.open">Filter By</span>
            <span class="btn btn-default" role="button" ng-click="interview.filter.status.open = !interview.filter.status.open">Query Status</span>
        </div>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!interview.filter.form.open">
        <div class="panel-body col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label>By Client</label>
                    <input ng-model="interview.iClient" ng-model-options="{debounce: 500}" class="form-control">
                </div>
                <div class="form-group">
                    <label>By Candidate</label>
                    <input ng-model="interview.iCandidate" ng-model-options="{debounce: 500}" class="form-control">
                </div>
                <div class="form-group">
                    <label>By Type</label>
                    <input ng-model="interview.iType" ng-model-options="{debounce: 500}" class="form-control">
                </div>
                <!-- <button class="btn btn-primary">Search</button> -->
            </form>
        </div>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!interview.filter.status.open">
        <div class="panel-body col-md-12">
            <span>Filter By</span>
            <pre>{{interview.getParams() | json}}</pre>
            <span>Filter Result</span>
            <pre>{{"query count: " + interview.iCount}}</pre>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="active">
                <th class="col-md-3">
                    <button class="btn btn-default" ng-click="interview.sortBy('Client')">Client <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
                </th>
                <th class="col-md-4">
                    <button class="btn btn-default" ng-click="interview.sortBy('Candidate')">Candidate <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
                </th>
                <th class="col-md-4">
                    <button class="btn btn-default" ng-click="interview.sortBy('Type')">Type <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
                </th>
                <th class="col-md-1">
                    <button class="btn btn-default" ng-click="interview.sortBy('Date')">Date <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="it in interview.it" ng-click="interview.showInterview(it._id)">
                <td class="col-md-4">{{it.Client}}</td>
                <td class="col-md-4">{{it.Candidate}}</td>
                <td class="col-md-3">{{it.Type}}</td>
                <td class="col-md-1">{{it.Date | date:'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer text-center">
        <uib-pagination max-size=10 total-items="interview.iCount" items-per-page="interview.iSize" ng-model="interview.iPage" ng-change="interview.loadInterviews()" boundary-links="true"></uib-pagination>
    </div>
</div>
</div>
